body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #0062E6, #f5e9e9);
}

.form-box {
    width: 350px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header-form {
    text-align: center;
    margin-bottom: 20px;
}

.body-form form {
    display: grid;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.input-group-prepend, .input-group-append {
    background: #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-text, .form-control {
    border: none;
    padding: 10px;
}

.form-control {
    flex-grow: 1;
}

.btn-block {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.message {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.message a {
    color: #007bff;
}
